<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Add New Gist">
    <classes>
      <class name="mainTesting.addGist"/>
    </classes>
    
  </test> <!-- Test -->
  <test thread-count="5" name="Edit Gist">
    <classes>
      <class name="mainTesting.editGist"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="View Gist">
    <classes>
      <class name="mainTesting.viewYourGist"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="Edit Gist">
    <classes>
      <class name="mainTesting.deleteGist"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
